body {
    font-family: 'Open Sans', sans-serif;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #b6986d;
}

.topmenu.topbar {
    box-shadow: none;
    border: solid black;
    background-color: tan;
    padding-top: 5px;
    height: 45px;
}

.header-text {
    font-family: Calligraphic;
    font-size: x-large;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    color: black;
}

/*.home {*/
    /*font-family: Georgia;*/
    /*font-size: medium;*/
    /*text-align: left;*/
    /*padding-top: 17px;*/
    /*padding-left: 3px;*/
/*}*/

.login-logout {
    font-family: Georgia;
    font-size: medium;
    text-align: right;
    padding-top: 17px;
    padding-right: 3px;
}

.help {
    font-family: Georgia;
    font-size: medium;
    text-align: right;
    padding-top: 17px;
}

.information-box {
    height: 200px;
    color: black;
    box-shadow: none;
    border: solid black;
}

.threads {
    height: 1500px;
    color: black;
    box-shadow: none;
    border: solid black;
}

.frame {
    border: solid black;
    background-color: #ffdcaa;
}

.footer {
    background-color: black;
    color: black;
}
p {
    font-size: larger;
    color: darkblue;
}

