  body {
    color: darkblue;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 50px 10px 50px;
    background-color: #4dff1a;
  }

  p {
    font-size: larger;
    color: darkblue;
  }

