
<template name="Footer">
  <footer>
    <div style="padding-top: 15px;background-color: darkred ;color: white;  border-radius: 0px; border: inset black" class="ui center aligned container">
        CS 320 Fall 2018 <br />
        School of Engineering and Computer Science <br />
        Vancouver, WA 98686 <br />
        Contacts us : sravani.ravula@wsu.edu <br />

        <ul>
            <li><a href="https://www.facebook.com/careers/v2/jobs/1050000571716816/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://careers.twitter.com/en/university.html"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://careers.linkedin.com/students/Internships"><i class="fa fa-twitter"></i></a></li>
            <li><a href=" https://github.com/lscott7/CS-320-Group-Project"><i class="fa fa-github"></i> </a></li>

        </ul>

    </div>
  </footer>
</template>
