<template name="Header">
    <div style="background-color: tan;border: double black;" kclass="ui borderless header-menu menu">
        <div class="ui container" style="width: 330px !important;margin-left: 0 !important;">
            <a class="item" href="{{pathFor 'Home_Page'}}"><h1 style="color: black;font-family: Calligraphic;font-size: x-large;margin-right: 0 !important;">Job Forum Discussion Board</h1></a>
        </div>
        <div class="ui right container">
            <a href="#" class="right aligned item" style="background-color: darkred;border: inset black;">{{> loginButtons align="right"}} </a>
        </div>
    </div>
</template>
