<template name="Header">
    <div style="background-color: tan;border: double black;margin-bottom: 15px">
        <div class="ui container" style="width: 100% !important;margin-left: 0 !important;">
            <a class="item" href="{{pathFor 'Home_Page'}}"><h1 style="color: black;font-family: Calligraphic;font-size: x-large;margin-right: 0 !important;width: 200px !important" > Job Hunter </h1> </a>

            <div class="ui right container" style="margin-bottom: 2px;text-align: right">
              <a href="#" class="right aligned item" style="background-color: darkred;border: 2px inset black;">{{> loginButtons align="right"}} </a>
            </div>
        </div>
    </div>
</template>


