body {
  font-family: 'Open Sans', sans-serif;
  margin-left: 100px;
  margin-right: 100px;
    height: 100%;
    background-image: url(http://demos.jquerymobile.com/1.4.5/_assets/img/newyork.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }


.ui.middle.aligned.centered.grid.text.container {
  padding-top: 10px;
  width: 100%;
  margin-bottom: 0;
}

.login-link-text {
  color: white !important;
  text-decoration: none !important;
}

.ui.positive.buttons .button, .ui.positive.button {
  color: white;
  background-color: darkred;
  border: 2px inset black;
}

.ui.positive.buttons .button:hover, .ui.positive.button:hover {
  color: white;
  background-color: gray;
}

#EditThreadForm > div, #AddThreadForm > div {
  padding: 1em 0 0;
}

#__blaze-root {
  border: double black !important;
  background: tan;
}

.separator {
  background: tan;
}

#EditThreadForm > div > div:nth-child(2),
#EditThreadForm > div > div:nth-child(3),
#EditThreadForm > div > div:nth-child(5),
#EditThreadForm > div > div:nth-child(6),
#AddThreadForm > div > div:nth-child(2),
#AddThreadForm > div > div:nth-child(3),
#AddThreadForm > div > div:nth-child(5),
#AddSThreadForm > div > div:nth-child(6) {
  display: inline-block !important;
  width: 49.6% !important;
}

#EditThreadForm > div > div:first-child, #AddThreadForm > div > div:first-child {
  background-color: white;
  padding-left: 0;
  font-size: 1.15em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}

#EditThreadForm > div:last-child, #AddThreadForm > div:last-child {
  padding-top: 0;
}

#AddThreadForm > div > div:nth-child(2) {
  padding-top: 10px;
}

#login-dropdown-list {
  background-color: tan;
  border: inset black;
  borderiwdth: 2px;
  margin-right: -5px;
}

.ui.segment.af-fieldGroup {
  border: inset black;
}

.ui.form {
  margin-bottom: 15px;
}

.ui.top.attached.label.af-fieldGroup-heading {
  color: white !important;
  background-color: darkred !important;
  border-bottom: black !important;
  border-style: inset !important;
  margin-bottom: 5px !important;
}

#login-buttons-password,
#login-buttons-do-change-password,
#login-buttons-open-change-password,
#login-buttons-logout {
  background-color: darkred !important;
}

.ui.segment {
  box-shadow: none;
  border: none;
}

.ui.text.container {
  max-width: 3000px !important;
  padding-left: 0;
  padding-right: 0;
  background: tan;
}

.ui.grid.container {
  width: 100% !important;
}

.ui.container {

  width: 100% !important;
}

#threadgrid {
  background-color: white;
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-left: 0px;
}

#replygrid {
  background-color: white;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 0px;
}

.separator {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  padding-top: 20px;
  /*background-color: #b6986d;*/
}


